.body
{
    color: white;
    background-color: #1a1d27
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 50%;               
  background-color:#f6f6ed;
  height: 1px;
}

.navbar
{
    background-color: #1a1d27;
    font-family: Papyrus, fantasy;
    height: 10vh;
}

@media (max-height: 500px) {
    .navbar {
        height: 50px;
    }
}

.presentation
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 90vh;
    overflow: hidden;
    background-image: url("images/pixel-9104884_1920\ Image\ by\ Judas\ from\ Pixabay.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.presentation p
{
    color: white;
    position: absolute;
    font-family: Papyrus, fantasy;
    font-size: 30px;
    max-width: 50vw;
    background-color: rgba(3, 2, 5, 0.508);;
    border-radius: 10px;
    animation: anim 20s infinite;
}

@keyframes anim {
       20% { background-color: rgba(57, 43, 93, 0.5);}
       40% { background-color: rgba(95, 47, 92, 0.51);}
       80% { background-color: rgba(97, 51, 47, 0.503);}
}


@media (max-width: 600px) {
    .presentation p {
        font-size: 20px;
        max-width: 100vh;
    }
}

.carousel
{
    height: 100vh;
}

.carousel-inner
{
    display:flex;
    height: 100vh;
}

.carousel-item img
{
    height: 100%;
    object-fit: cover;
}

.carousel-caption h5
{
    font-size: 50px;
}

.godot_main
{
    background-image: url("images/ai-generated-9060608_1280.jpg");
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 5%;
}

.godot_header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30vh !important;
}

@media (max-height: 500px){
    .godot_header {
        height: 40vh !important;
    }
}

.godot_text
{
    background-color: rgba(3, 2, 5, 0.508);
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}


.godot_content
{
    margin-left: 5%;
    margin-right: 5%;
}

.godot_container
{
    display: flex;
    gap: 30px;
}

.godot_container img
{
    height: 40vh;
}

@media (max-height: 500px) or (max-width: 900px) {
    .godot_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .godot_container img
    {
        max-width: 350px;
        max-height: 350px;
        width: auto;
        height: auto;
    }
}

.assets_main
{
    background-image: url("images/ai-generated-9332704_1920\ Image\ by\ Marcin\ Brzózka\ from\ Pixabay.jpg");
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.assets_content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.assets_content h5
{
    margin-top: 1vh;
}

.assets_content a
{
    margin-left: 3vh;
    margin-right: 3vh;
}

@media screen and (max-width: 600px) {
  .assets_div {
    flex: 100%;
    max-width: 100%;
  }
}

.open_image
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_main
{
    background-image: url("images/pixel-art-9332698_1920\ Image\ by\ Marcin\ Brzózka\ from\ Pixabay.jpg");
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 5%;
}

.game_content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game_content video
{
    width: 80%;
    height: 80%;
    padding-right: 5%;
    padding-left: 5%;
}

.footer
{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    background-color: #1a1d27;
    height: 15vh;
}


@media (max-height: 500px) {
    .footer
    {
        height: 30vh;
    }
}
