.body
{
    color: white;
    background-color: #151515;
}

.navbar
{
    background-color: black;
    font-family: Papyrus, fantasy;
}

.container-fluid
{
    font-size: 1.4rem;
}

.logo
{
    color: white !important;
    font-size: 1.4rem;
    text-decoration: none !important;
}

.presentation
{
    display:grid;
    text-align: center;
    place-items: center;
}

.presentation img
{
    width: 25%;
    height: auto;
    margin: 10%;
}

.presentation p
{
    width: 500px;
}

.index_books
{
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    margin-top: 10%;
}

.index_books img
{
    border: solid 10px transparent;
    opacity: 0.7;
    width: 350px;
    
}

.index_books img:hover
{
    opacity: 1;
}

.index_books p
{
    font-size: 1.2rem;
    width: 350px;
}

.games
{
    align-items: center;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    margin-top: 10%;
    opacity: 0.5;
}

.games img
{
    opacity: 0.7;
}

.games img:hover
{
    opacity: 1;
}

.games p
{
    font-size: 1.2rem;
    opacity: 1;
    width: 350px;
}

#books_title
{
    display: flex;
    justify-content: center;
}

.books_grid
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.book
{
    object-fit: cover;
    border: 3px solid white;
    height: 500px;
    width: 400px;
    flex: 0 0 400px
}
