.body
{
    color: white;
    background-color: #eff2f4;
}

.navbar
{
    background-color: #1a1d27;
    font-family: Papyrus, fantasy;
    height: 10vh;
}

@media (max-height: 500px) {
    .navbar {
        height: 50px;
    }
}

.logo
{
    color: white !important;
    font-size: 1.4rem;
    text-decoration: none !important;
}

.presentation
{
    background-color: #242937;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 90vh;
    overflow: hidden;
}


.presentation p
{
    color: white;
    position: absolute;
    font-size: 20px;
    max-width: 30vw;
}

@media (max-width: 600px) {
    .presentation p {
        font-size: 14px;
        max-width: 100vh;
    }
}

.carousel
{
    display: flex;
    height: 100vh;
}

.carousel-inner
{
    display:flex;
    height: 100vh;
}

.carousel-caption
{
    bottom: 40%;
}

.carousel-caption h5
{
    font-size: 50px;
}

.carousel-item img
{
    height: 100%;
    object-fit: cover;
}
